[Socket]
FileDescriptorName=http.listen.socket
ListenStream={{socket}}
MaxConnections=4
SocketGroup=http
SocketUser=http

[Install]
RequiredBy={{name}}.service
