[Unit]
Description={{description}}
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/node --title {{name}} {{installdir}}/src/{{name}}-systemd-cli.mjs
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStartSec=20
StandardOutput=syslog
User={{name}}
Group={{name}}
PrivateTmp=true
NoNewPrivileges=true
RuntimeDirectory={{name}}
StateDirectory={{name}}
ConfigurationDirectory={{name}}
NotifyAccess=all
FileDescriptorStoreMax=5
MemoryAccounting=true
MemoryHigh=150M
MemoryMax=200M
OOMPolicy=stop
CacheDirectory={{name}}
PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=full
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
