[Unit]
Description={{description}}
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/node --title {{name}} {{installdir}}/src/{{name}}-systemd-cli.mjs
ExecReload=/bin/kill -HUP $MAINPID
RestartSec=10
TimeoutStartSec=20
TimeoutStopSec=25
NotifyAccess=all
FileDescriptorStoreMax=5
OOMPolicy=stop
User={{name}}
Group={{name}}
SupplementaryGroups=http
CacheDirectory={{name}}
ConfigurationDirectory={{name}}
MemoryAccounting=true
MemoryHigh=150M
MemoryMax=200M
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=full
RestrictSUIDSGID=true
RuntimeDirectory={{name}}
StandardOutput=syslog
StateDirectory={{name}}

[Install]
WantedBy=multi-user.target
