name: CI
on:
  push:
    branches:
      - master
      - next
  pull_request:
    branches:
      - master
      - next
permissions:
  contents: read
jobs:
  test-node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 22.16.0
          - 22.17.0
          - 24.2.0
          - 24.3.0
    steps:
      - name: checkout
        uses: actions/checkout@v4.2.2
      - name: prepare node
        uses: actions/setup-node@v4.4.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
          cache-dependency-path: package-lock.json
      - name: install
        run: npm ci
      - name: test and coverage
        run: npm run cover --if-present
      - name: coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: run-${{ matrix.test_number }}
          path-to-lcov: build/coverage/lcov.info
          parallel: true
        continue-on-error: true
  release:
    needs:
      - test-node
    runs-on:
      - self-hosted
      - linux
      - ARM64
      - ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - name: install dependencies
        run: |
          if [ ! -f /usr/bin/pacman ]
          then
          sudo apt-get update
          sudo apt-get install ksh curl
          wget https://github.com/ThePoorPilot/pacman-utils/releases/download/5.2.2-3_2.31-0/pacman-utils_5.2.2-3_amd64.deb
          sudo apt-get install -f ./pacman-utils_5.2.2-3_amd64.deb
          fi
      - name: checkout
        uses: actions/checkout@v4.2.2
      - name: prepare node
        uses: actions/setup-node@v4.4.0
        with:
          node-version: 22.17.0
          cache: npm
          cache-dependency-path: package-lock.json
      - name: install
        run: npm ci
      - name: release
        run: npx semantic-release
        env:
          CI: "true"
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PKGEXT: .pkg.tar.xz
          PKGBUILD_PUBLISH: ${{ secrets.PKGBUILD_PUBLISH }}
  finish:
    needs:
      - test-node
    runs-on: ubuntu-latest
    steps:
      - name: finish coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: build/coverage/lcov.info
          parallel-finished: true
